/* .chord-selector-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.chord-selector-wrapper select {
    font-size: 2vw;
    background: rgba(0,0,0,0.1);
    color: white;
    padding: 10px;
    appearance: none;
    outline: none;
    border: 0.5px solid transparent;
} */

.note{
    padding: 7px;
    font-size: 1.7rem;
}