.note{
    padding: 3px;
    font-size: 1vw;
    color: white;
}

.scale-view{
    overflow: hidden;
    clear: both;
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.clearfix {
    overflow: auto;
  }

.clearfix::after {
content: "";
clear: both;
display: table;
}

.middle{
    text-align: center;
}